video {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background-size: cover;
  	transition: 1s opacity;
}

body {
	background-color: #111;
}




h1 {
	text-align: center;
}
.screen {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	content: " ";
	z-index: -1099;
	overflow: hidden;
	color: #e1eef6;
}

body {
	overflow-y: hidden;
}

#desliza {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: ivory;
	font-size: 5vh;
	text-align: center;
	z-index: 100;
}

#panel {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 20%;
	opacity: 1.3;
	color: azure;
	background-color: rgba(0,0,0,0.6);
	padding: 2vh;
}

p#nombre {
	color: white;
	font-size: 5vh;
}

span#desc {
	color: rgb(177, 177, 177);;
	font-size: 2vh;
}

#slider {
	width: 100%;
	height: 100%;
	overflow-y: 100%;
	overflow-x: 100%;
	position: absolute;
	z-index: 10000;
}



.tracking-out-contract-bck-top {
	animation: tracking-out-contract-bck-top 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s infinite backwards;
}

 @keyframes tracking-out-contract-bck-top {
	0% {
	  transform: translateZ(0) translateY(0);
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	100% {
	  letter-spacing: -0.5em;
	  transform: translateZ(-500px) translateY(-10em);
	  opacity: 0;
	}
  }
  

