video {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    /* background: url(/polina.png) no-repeat; */
    background-size: cover;
}

body {
	font-family: sans-serif;
	background-color: #111;
}
a {
	color: #ff5f2e;
}
a:hover {
	color: #fcbe32;
}



h1 {
	text-align: center;
}
.screen {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	content: " ";
	z-index: -99;
	overflow: hidden;
	color: #e1eef6;
}

body {
	overflow-y: hidden;
}

#desliza {
	position: fixed;

	margin: 25%;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #111 ;
	
}

#panel {
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 1.3;
	background-color: rgba(0,0,0,0.6);
}